# MUGEN Sprites
*.sff binary

# MUGEN Animations
*.air linguist-language=INI

# MUGEN Character Definition
*.def linguist-language=INI

# MUGEN Coding
*.cns linguist-language=INI

# MUGEN Command
*.cmd linguist-language=INI