# MUGEN Sprites
*.sff binary

# MUGEN Animations
*.air linguist-language=Game Maker Language

# MUGEN Character Definition
*.def linguist-language=Game Maker Language

# MUGEN Coding
*.cns linguist-language=Game Maker Language

# MUGEN Command
*.cmd linguist-language=Game Maker Language